#page-404 {
	background: var(--white, white);
	.header {
		position: relative;
		background: var(--lightest-background-color, lightgray);
		overflow: hidden;
		.flourish {
			position: absolute;
			top: -684px;
			right: -360px;
			width: 1200px;
			height: 1200px;
		}
		.container {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 24px;
			.breadcrumb {
				position: relative;
				display: flex;
				align-items: center;
				line-height: 14px;
				font-size: 14px;
				margin: 24px 0 0 0;
				svg {
					width: 9px;
					height: 9px;
					margin: 0 9px;
					path {
						fill: var(--accent-color-one, deepskyblue);
					}
				}
				a {
					color: #6f707c;
					text-decoration: none;
				}
				span {
					font-weight: 600;
				}
			}
			h1 {
				position: relative;
				line-height: 1em;
				font-size: 60px;
				font-weight: 700;
				margin: 48px 0 60px 0;
				@media (max-width: 1272px) {
					font-size: 48px;
				}
				@media (max-width: 600px) {
					font-size: 36px;
				}
			}
		}
	}
	.content {
		max-width: 1200px;
		padding: 60px 24px 96px 24px;
		margin: 0 auto;
		overflow: auto;
		h2 {
			line-height: 1.25em;
			font-size: 48px;
			margin: 0 0 48px 0;
			visibility: hidden;
			@media (max-width: 1272px) {
				font-size: 36px;
			}
			@media (max-width: 600px) {
				font-size: 30px;
			}
		}
		p {
			line-height: 27px;
			font-size: 18px;
			margin: 12px 0;
			visibility: hidden;
			
		}
		a {
			color: var(--accent-color-one, deepskyblue);
		}
	}
}