// Hide unavailable font weights
.components-font-appearance-control ul li {
	display: none;
	&:nth-child(1),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		display: grid;
	}
}

.acf-gallery-toolbar .acf-hl li {
	float: none !important;
	margin: 12px 0 0 0 !important;
	&:first-child {
		margin: 0;
	}
}

#wpadminbar {
	@media(max-width: 600px) {
		position: fixed !important;
	}
	// Hide unneeded admin bar items 
	#wp-admin-bar-comments,
	#wp-admin-bar-customize,
	#wp-admin-bar-new-content,
	#wp-admin-bar-searchwp,
	#wp-admin-bar-wpseo-menu {
		display: none;
	}
}