@import "./fonts.scss";
@import "./main.scss";

body.editor-styles-wrapper {
	background: transparent !important;
	padding: 0 !important;
	margin: 0 16px !important;
	opacity: 1 !important;
	.banner.block {
		.container {
			.banner-text {
				visibility: inherit;
				opacity: 1 !important;
			}
			.button {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
	.button.block {
		.container {
			.btn-link {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
	.header.block {
		.container {
			.content {
				visibility: inherit;
				opacity: 1 !important;
				.fade-in {
					visibility: inherit;
					opacity: 1 !important;
				}
			}
		}
	}
	.leadership.block {
		.container {
			.user {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
	.media.block {
		.container {
			.content {
				visibility: inherit;
				opacity: 1 !important;
			}
			.media {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
	.news.block {
		.container {
			.posts {
				.post {
					visibility: inherit;
					opacity: 1 !important;
				}
			}
		}
	}
	.press-releases.block {
		.container {
			.posts {
				.post {
					visibility: inherit;
					opacity: 1 !important;
				}
			}
		}
	}
	.quadrant.block {
		.container {
			.quadrant {
				.icon {
					visibility: inherit;
					opacity: 1 !important;
				}
				.content {
					visibility: inherit;
					opacity: 1 !important;
				}
			}
		}
	}
	.resources.block {
		.container {
			.posts {
				.post {
					visibility: inherit;
					opacity: 1 !important;
				}
			}
		}
	}
	.tabs.block {
		.container {
			.tabs-container {
				top: 0px;
				@media (max-width: 1272px) {
					top: auto;
				}
			}
		}
	}
	.tiles.block {
		.container {
			.tile {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
	.twitter.block {
		.container {
			.tweet {
				visibility: inherit;
				opacity: 1 !important;
			}
		}
	}
}

.wp-block-post-title {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.acf-block-preview {
	min-height: 0 !important;
}