$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

#flex-footer {
	font-family: "Avant Garde", sans-serif;
	letter-spacing: 0.02em;
	background: var(--primary-text-color, black);
	padding: 42px 0 0 0;
	@media (max-width: 1272px) {
		padding: 42px 24px 0 24px;
	}
	.main {
		display: flex;
		max-width: 1200px;
		margin: 0 auto 60px auto;
		@media (max-width: 1272px) {
			flex-direction: column;
			max-width: 840px;
			margin: 0 0 60px 0;
		}
		@media (max-width: 960px) {
			max-width: 100%;
		}
		.left {
			flex-grow: 1;
			ul.menu {
				list-style: none;
				line-height: 30px;
				font-size: 14px;
				color: var(--white, white);
				padding: 0;
				column-count: 3;
				column-gap: 30px;
				@media (max-width: 960px) {
					column-count: 1;
					text-align: center;
				}
				a {
					color: var(--white, white);
					text-decoration: none;
				}
				> li {
					font-weight: 700 !important;
					text-transform: uppercase;
					margin: 0 0 30px 0;
					break-inside: avoid;
					a {
						font-weight: 700 !important;
					}
					ul.sub-menu {
						list-style: none;
						padding: 0;
						margin: 0;
						li {
							font-weight: 300 !important;
							text-transform: none;
							a {
								font-weight: 300 !important;
							}
						}
					}
				}
			}
		}
		.right {
			width: 360px;
			@media (max-width: 1272px) {
				margin-top: 12px;
			}
			@media (max-width: 960px) {
				width: 100%
			}
			h2 {
				font-size: 16px;
				font-weight: 600 !important;
				color: var(--accent-color-one, deepskyblue);
				text-transform: uppercase;
				@media (max-width: 960px) {
					text-align: center;
				}
			}
			.links {
				display: flex;
				@media (max-width: 960px) {
					justify-content: center;
				}
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 26px;
					height: 26px;
					background-color: var(--white, white);
					text-decoration: none;
					border-radius: 5px;
					margin: 0 10px 0 0;
					transition: background-color 500ms $ease-out-expo;
					&:last-child {
						margin: 0;
					}
					svg {
						width: 16px;
						height: 16px;
						path {
							fill: var(--primary-text-color, black);
							transition: fill 500ms $ease-out-expo;
						}
					}
					&:hover {
						background-color: var(--accent-color-one, deepskyblue);
						svg {
							path {
								fill: var(--white, white);
							}
						}
					}
				}
			}
			.btn-wrapper {
				padding: 30px 0 0 0;
				a {
					box-sizing: border-box;
					display: flex;
					align-items: center;
					min-height: 60px;
					width: 206px;
					font-size: 18px;
					font-weight: 500 !important;
					color: var(--white, white);
					padding: 0 36px;
					background: var(--accent-color-one, deepskyblue);
					border-radius: 5px;
					text-decoration: none;
					transition: background-color 500ms $ease-out-expo, color 500ms $ease-out-expo;
					cursor: pointer;
					@media (max-width: 960px) {
						margin: 0 auto;
					}
					.long-arrow {
						position: relative;
						display: flex;
						margin-left: 12px;
						svg {
							width: auto;
							height: 9.5px;
							transition: transform 500ms $ease-out-expo;
							polygon {
								fill: var(--white, white);
							}
						}
						.line {
							position: absolute;
							right: 14px;
							width: 2px;
							height: 100%;
							background: var(--accent-color-one, deepskyblue);
						}
					}
					&:hover {
						.long-arrow {
							svg {
								transform: translateX(5px);
							}
						}
					}
				}
			}
			
		}
	}
	.legal {
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 960px) {
			max-width: 100%;
			text-align: center;
			margin: 0;
		}
		.links {
			display: flex;
			line-height: 14px;
			font-size: 14px;
			font-weight: 400 !important;
			padding: 0 0 18px 0;
			border-bottom: 1px solid #545454;
			@media (max-width: 960px) {
				display: block;
				line-height: 30px;
			}
			div {
				border-right: 1px solid var(--white, white);
				padding: 0 12px;
				@media (max-width: 960px) {
					border: none;
					padding: 0;
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
					border-right: 0;
				}
				a {
					color: var(--white, white);
					text-decoration: none;
					font-weight: 400 !important;
				}
			}
		}
		.copyright {
			line-height: 12px;
			font-size: 12px;
			font-weight: 400 !important;
			color: var(--white, white);
			padding: 18px 0;
			@media (max-width: 960px) {
				line-height: 1.5em;
			}
		}
	}
}