#search {
	background: var(--white, white);
	.header {
		position: relative;
		background: var(--lightest-background-color, lightgray);
		overflow: hidden;
		.flourish {
			position: absolute;
			top: -684px;
			right: -360px;
			width: 1200px;
			height: 1200px;
		}
		.container {
			max-width: 1200px;
			margin: 0 auto;
			padding: 0 24px;
			.breadcrumb {
				position: relative;
				display: flex;
				align-items: center;
				line-height: 14px;
				font-size: 14px;
				margin: 24px 0 0 0;
				svg {
					width: 9px;
					height: 9px;
					margin: 0 9px;
					path {
						fill: var(--accent-color-one, deepskyblue);
					}
				}
				a {
					color: #6f707c;
					text-decoration: none;
				}
				span {
					font-weight: 600;
				}
			}
			h1 {
				position: relative;
				line-height: 48px;
				font-size: 48px;
				font-weight: 700;
				margin: 48px 0 60px 0;
			}
		}
	}
	.content {
		max-width: 1200px;
		padding: 60px 24px 96px 24px;
		margin: 0 auto;
		overflow: auto;
		input {
			box-sizing: border-box;
			width: 100%;
			height: 60px;
			font-family: "Avant Garde", sans-serif;
			letter-spacing: 0.02em;
			font-size: 18px;
			::-webkit-input-placeholder {
				color:    var(--light-border-color, lightgray);
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    var(--light-border-color, lightgray);
			   opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    var(--light-border-color, lightgray);
			   opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    var(--light-border-color, lightgray);
			}
			padding: 0 18px;
			border: 1px solid var(--light-border-color, lightgray);
			border-radius: 5px;
			&:focus {
				outline: none;
			}
		}
		h2 {
			margin: 48px 0;
		}
		h3 {
			margin: 48px 0 12px;
			a {
				color: var(--primary-text-color, black);
				text-decoration: none;
				mark {
					background-color: transparent;
				}
			}
		}
		p {
			margin: 12px 0;
			mark {
				background-color: rgba(241, 181, 44, 0.5);
				padding: 0 5px;
				border-radius: 5px;
			}
		}
		.pagination {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			height: 16px;
			margin: 24px 0;
			@media (max-width: 1272px) {
				justify-content: center;
			}
			.page-numbers {
				text-align: right;
				line-height: 16px;
				font-size: 16px;
				cursor: pointer;
				margin: 0 0 0 12px;
				text-decoration: none;
				color: var(--primary-text-color, black);
				@media (max-width: 1272px) {
					margin: 0 6px;
				}
				&.selected {
					color: var(--accent-color-one, deepskyblue);
				}
			}
			&.pg-desktop {
				@media (max-width: 1272px) {
					display: none;
				}
			}
			&.pg-mobile {
				display: none;
				@media (max-width: 1272px) {
					display: flex;
				}
			}
		}
	}
}