.columns.block {
	> .container, > .container > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		.column, .wp-block-acf-column {
			flex: 1;
			display: flex;
			flex-direction: column;
			&:first-child {
				padding-left: 0 !important;
			}
			&:last-child {
				padding-right: 0 !important;
			}
		}
		&.align-top {
			
		}
		&.align-center {
			.column, .wp-block-acf-column {
				justify-content: center;
			}
		}
		&.align-bottom {
			
		}
		&.show-rules {
			.column + .column, .wp-block-acf-column + .wp-block-acf-column {
				border-left: 1px solid;
			}
		}
	}
	.block-editor-inner-blocks {
		width: 100%;
	}
}