$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.header.block {
	position: relative;
	height: 180px;
	background-color: var(--lightest-background-color, lightgray);
	&.has-background-image {
		height: 360px;
	}
	.background-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: center center;
		opacity: 0;
		transition: opacity 500ms $ease-out-expo;
		&.visible {
			opacity: 1;
		}
	}
	> .container {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		opacity: 0;
		transition: opacity 500ms $ease-out-expo;
		&.visible {
			opacity: 1;
		}
	}
}