$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.homepage-carousel.block {
	position: relative;
	.slide {
		box-sizing: border-box;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		transition: opacity 1s $ease-out-expo;
		background: #eaeef4;
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
		@media (max-width: 1272px) {
			height: 100%;
			padding: 96px 24px 0 24px;
		}
		> .container {
			position: relative;
			display: flex;
			align-items: center;
			max-width: 1200px;
			height: 600px;
			margin: 0 auto;
			@media (max-width: 1272px) {
				flex-direction: column;
				height: 100%;
			}
			.text {
				color: #262626;
				@media (max-width: 1272px) {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					margin: 0 auto 55px auto; //55px temp for fiber graphic
				}
				h1 {
					position: relative;
					z-index: 1;
					line-height: 54px;
					font-size: 48px;
					margin: 0;
					@media (max-width: 720px) {
						line-height: 42px;
						font-size: 36px;
					}
				}
				p {
					position: relative;
					z-index: 1;
					max-width: 600px;
					line-height: 30px;
					font-size: 21px;
					margin: 24px 0 0 0;
				}
				.button {
					position: relative;
					z-index: 1;
					margin: 30px 0 0 0;
					.mobile {
						display: none;
					}
					@media (max-width: 1272px) {
						margin: 36px 0 96px 0;
						.mobile {
							display: block;
						}
						.desktop {
							display: none;
						}
					}
				}
			}
			.image {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 100%;
				max-width: 600px;
				@media (max-width: 1272px) {
					position: relative;
					height: auto;
					//margin-top: auto;
				}
				img {
					position: relative;
					display: block;
					width: 100%;
					height: auto;
				}
				.background {
					position: absolute;
					height: auto;
				}
			}
		}
		&.slide-1 {
			position: absolute;
			top: 0;
			left: 0;
			.text {
				max-width: 480px;
				@media (max-width: 403px) {
					margin: 0 auto 85px auto;
				}
				.button {
					@media (max-width: 500px) {
						margin: 36px 0 48px 0;
					}
					@media (max-width: 403px) {
						margin: 36px 0 24px 0;
					}
				}
			}
			.image {
				.foreground {
					&.dsktp {
						left: -60px;
						bottom: -80px;
						width: 200%;
						@media (max-width: 1272px) {
							display: none;
						}
					}
					&.mbl {
						display: none;
						@media (max-width: 1272px) {
							display: block;
							left: unset;
							bottom: 80px;
							width: 90%;
							margin: 0 auto;
						}
						@media (max-width: 500px) {
							bottom: 60px;
						}
					}
				}
			}
		}
		
		&.slide-2 {
			position: relative;
			.text {
				max-width: 480px;
				@media (max-width: 464px) {
					margin: 0 auto 85px auto;
				}
				@media (max-width: 459px) {
					margin: 0 auto 127px auto;
				}
				@media (max-width: 428px) {
					margin: 0 auto 85px auto;
				}
				@media (max-width: 379px) {
					margin: 0 auto 55px auto;
				}
				.button {
					@media (max-width: 500px) {
						margin: 36px 0 48px 0;
					}
					@media (max-width: 403px) {
						margin: 36px 0 24px 0;
					}
				}
			}
			.image {
				.background {
					top: -10%;
					left: -16%;
					width: 245%;
					transform: translate(30px, 0);
					transition: transform 2s $ease-out-expo;
					@media (max-width: 1272px) {
						left: unset;
					}
				}
				.foreground {
					right: -110px;
					bottom: -24px;
					width: 90%;
					@media (max-width: 1272px) {
						left: 5%;
						bottom: -30%;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: translate(0, 0);
					}
				}
			}
		}
		
		&.slide-3 {
			position: absolute;
			top: 0;
			left: 0;
			.text {
				max-width: 480px;
				.button {
					@media (max-width: 500px) {
						margin: 36px 0 48px 0;
					}
					@media (max-width: 403px) {
						margin: 36px 0 24px 0;
					}
				}
			}
			.image {
				.background {
					top: -20%;
					right: -4%;
					width: 106%;
					transform: rotate(40deg);
					transition: transform 2s $ease-out-expo;
					@media (max-width: 1272px) {
						right: unset;
						width: 100%;
						margin-left: auto;
						margin-right: auto;
					}
				}
				.foreground {
					left: -90px;
					bottom: -36px;
					width: 110%;
					@media (max-width: 1272px) {
						left: unset;
						bottom: -33.5%;
						width: 100%;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: rotate(70deg);
					}
				}
			}
		}
		
		&.slide-4 {
			position: absolute;
			top: 0;
			left: 0;
			h1 {
				max-width: 600px;
			}
			.text {
				@media (max-width: 534px) {
					margin: 0 auto 15px auto;
				}
				@media (max-width: 464px) {
					margin: 0 auto 45px auto;
				}
				@media (max-width: 459px) {
					margin: 0 auto 85px auto;
				}
				@media (max-width: 393px) {
					margin: 0 auto 45px auto;
				}
				@media (max-width: 359px) {
					margin: 0 auto 15px auto;
				}
				.button {
					@media (max-width: 500px) {
						margin: 36px 0 48px 0;
					}
					@media (max-width: 403px) {
						margin: 36px 0 24px 0;
					}
				}
			}
			.image {
				.background {
					top: 6.75%;
					right: -195%;
					width: 340%;
					transform: rotate(15deg);
					transition: transform 2s $ease-out-expo;
				}
				.foreground {
					right: -30px;
					bottom: -78px;
					width: 100%;
					@media (max-width: 1272px) {
						left: 5%;
						bottom: -30%;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: rotate(0);
					}
				}
			}
		}
		&.slide-with-circle {
			h1 {
				max-width: 550px;
			}
			.image {
				.background {
					top: -35%;
					right: -14%;
					width: 105%;
					transform: rotate(-30deg);
					transition: transform 2s $ease-out-expo;
					@media (max-width: 1272px) {
						top: -32%;
						right: unset;
						width: 100%;
						margin-left: auto;
						margin-right: auto;
					}
					@media (max-width: 500px) {
						top: -40%;
					}
				}
				.foreground {
					left: 60px;
					@media (max-width: 1272px) {
						left: unset;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: rotate(0);
					}
				}
			}
		}
		&.slide-with-fiber {
			h1 {
				max-width: 600px;
			}
			.image {
				.background {
					top: -158px;
					right: -145%;
					width: 242%;
					transform: translate(30px, 0);
					transition: transform 2s $ease-out-expo;
				}
				.foreground {
					top: 15px;
					left: 80px;
					@media (max-width: 500px) {
						top: -35px;
						left: 50px;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: rotate(0);
					}
				}
			}
		}
		&.slide-with-diagonal-lines {
			h1 {
				max-width: 600px;
			}
			.image {
				.background {
					top: -22%;
					right: unset;
					left: -13%;
					width: 174%;
					transform: translate(20px, -30px);
					transition: transform 2s $ease-out-expo;
				}
			}
			&.visible {
				.image {
					.background {
						transform: translate(0, 0);
					}
				}
			}
		}
		&.slide-with-ripple-graphic {
			position: absolute;
			top: 0;
			left: 0;
			h1 {
				max-width: 600px;
			}
			.image {
				.background {
					top: -8%;
					right: -3.5%;
					width: 105%;
					transform: rotate(-30deg);
					transition: transform 2s $ease-out-expo;
				}
			}
			&.visible {
				.image {
					.background {
						transform: rotate(0);
					}
				}
			}
		}
		&.slide-with-orbit-graphic {
			position: relative;
			> .container {
				> .text {
					max-width: 420px;
					h1 {
						@media (max-width: 1272px) {
							max-width: 450px;
						}
					}
					.button {
						@media (max-width: 1272px) {
							margin: 36px 0 20px 0;
						}
					}
					@media (max-width: 1272px) {
						max-width: 600px;
						margin: 0 auto 30px auto;
					}
				}
				> .image {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 100%;
					max-width: 600px;
					.background {
						position: absolute;
						top: 104px;
						left: -180px;
						width: 223%;
						height: auto;
						transform: translate(30px, 10px);
						transition: transform 2s $ease-out-expo;
						@media (max-width: 1272px) {
							top: -5%;
							right: -15%;
							width: 223%;
						}
					}
					.foreground {
						position: relative;
						bottom: -65px;
						height: 630px;
						width: auto;
						z-index: 1;
						margin-left: auto;
						@media (max-width: 1272px) {
							left: unset;
							bottom: 20px;
							width: 100%;
							height: auto;
							margin: 0 auto;
						}
					}
					@media (max-width: 1272px) {
						position: relative;
						height: auto;
					}
				}
			}
			&.visible {
				.image {
					.background {
						transform: translate(0, 0);
					}
				}
			}
		}
		
	}
	.bars {
		display: flex;
		position: relative;
		top: -36px;
		left: 0;
		width: 100%;
		max-width: 1200px;
		margin: -15px auto 0 auto;
		opacity: 0;
		pointer-events: none;
		transition: opacity 1s $ease-out-expo;
		&.visible {
			opacity: 1;
			pointer-events: all;
		}
		.bar {
			width: 36px;
			padding: 6px 0;
			margin: 0 6px;
			cursor: pointer;
			&::after {
				content: "";
				display: block;
				height: 3px;
				background: #d6dadf;
			}
			&.selected {
				&::after {
					background: #009add;
				}
			}
		}
		@media (max-width: 1272px) {
			justify-content: center;
			position: absolute;
			top: 36px;
			max-width: unset;
		}
	}
}
/** VALIDATE NEED **/
/* FIX FOR cn.flex.com CAROUSEL */
// @media (min-width: 768px) {
// 	.slide {
// 		min-height: inherit !important;
// 	}
// }