.media.block {
	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		&.media-left {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			@media (max-width: 960px) {
				display: block;
			}
		}
		&.media-center {
			display: block;
			.media {
				margin: 0 auto;
			}
		}
		&.media-right {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			@media (max-width: 960px) {
				display: block;
			}
		}
		&.content-top {
			align-items: flex-start;
		}
		&.content-center {
			align-items: center;
		}
		&.content-bottom {
			align-items: flex-end;
		}
		.media {
			position: relative;
			visibility: hidden;
			@media (max-width: 960px) {
				min-width: unset !important;
				width: 100%;
				left: unset !important;
				margin: 0 auto 24px auto;
			}
			.image {
				img {
					width: 100%;
					height: auto;
					border-radius: 5px;
				}
				&.circle {
					img {
						border-radius: 50%;
					}
				}
			}
			.video {
				position: relative;
				padding-bottom: 56.25%;
				border-radius: 5px;
				overflow: hidden;
				iframe {
					position: absolute;
					top: -3px;
					left: -3px;
					width: calc(100% + 6px);
					height: calc(100% + 6px);
					border: none;
					&.video-youtube {
						display: block;
					}
					&.video-brightcove {
						display: none;
					}
				}
				&.use-brightcove {
					iframe {
						&.video-youtube {
							display: none;
						}
						&.video-brightcove {
							display: block;
						}
					}
				}
			}
		}
		.content {
			flex-grow: 1;
			visibility: hidden;
			@media (max-width: 960px) {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}
}