$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.quadrant.block {
	background-color: var(--white, white);
	.container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 1272px) {
			flex-direction: column;
			max-width: 600px;
		}
		.quadrant {
			position: relative;
			box-sizing: border-box;
			display: flex;
			width: 50%;
			@media (max-width: 1272px) {
				width: 100%;
			}
			@media (max-width: 600px) {
				display: block;
			}
			&:nth-child(1) {
				padding: 0 48px 48px 0;
				border-right: 1px solid var(--light-border-color, lightgray);
				border-bottom: 1px solid var(--light-border-color, lightgray);
				@media (max-width: 1272px) {
					padding: 0 0 48px 0;
					border-right: none;
				}
			}
			&:nth-child(2) {
				padding: 0 0 48px 48px;
				border-bottom: 1px solid var(--light-border-color, lightgray);
				@media (max-width: 1272px) {
					padding: 48px 0 48px 0;
				}
			}
			&:nth-child(3) {
				padding: 48px 48px 0 0;
				border-right: 1px solid var(--light-border-color, lightgray);
				@media (max-width: 1272px) {
					padding: 48px 0 48px 0;
					border-right: none;
					border-bottom: 1px solid var(--light-border-color, lightgray);
				}
			}
			&:nth-child(4) {
				padding: 48px 0 0 48px;
				@media (max-width: 1272px) {
					padding: 48px 0 0 0;
				}
			}
			.icon {
				margin: 0 36px 0 0;
				visibility: hidden;
				@media (max-width: 600px) {
					margin: 0 0 36px 0;
				}
				img {
					width: 84px;
					height: 84px;
				}
			}
			.content {
				display: flex;
				flex-direction: column;
				visibility: hidden;
				h2 {
					line-height: 31px;
					font-size: 24px;
					margin: 0 0 18px 0 !important;
				}
				p {
					line-height: 25px;
					font-size: 16px;
					flex-grow: 1;
					margin: 0 0 18px 0;
				}
				.link {
					display: flex;
					a {
						display: flex;
						flex-direction: column;
						line-height: 17px;
						font-size: 17px;
						font-weight: 600;
						color: var(--accent-color-one, deepskyblue);
						text-decoration: none;
						&::after {
							content: "";
							width: 0;
							height: 2px;
							background: var(--accent-color-one, deepskyblue);
							margin: 6px 0 0 0;
							transition: width 500ms $ease-out-expo;
						}
						&:hover {
							&::after {
								width: 100%;
							}
						}
					}
				}
			}
			&:nth-child(4) {
				&::after {
					content: "";
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 54px;
					height: 54px;
					background: var(--white, white);
					margin: -27px 0 0 -27px;
					@media (max-width: 1272px) {
						display: none;
					}
				}
			}
		}
	}
}