$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.resource-selector.block {
	min-height: 381px;
	background: var(--white, white);
	padding: 30px;
	border: 1px solid var(--accent-color-one, deepskyblue);
	border-radius: 5px;
	@media (max-width: 1020px) {
		max-width: 320px;
		background: none;
		padding: 0;
		margin: 0 auto;
		border: none;
		border-radius: none;
	}
	.columns {
		display: flex;
		@media (max-width: 1020px) {
			display: block;
		}
		.column {
			flex: 1;
			margin: 0 30px 0 0;
			@media (max-width: 1020px) {
				min-height: 200px;
				background: var(--white, white);
				padding: 30px;
				margin: 0 0 30px 0;
				border: 1px solid var(--accent-color-one, deepskyblue);
				border-radius: 5px;
			}
			&:last-child {
				margin: 0;
			}
			.step {
				line-height: 24px;
				font-size: 24px;
				font-weight: 700;
				color: var(--accent-color-one, deepskyblue);
				margin: 0 0 12px 0;
			}
			.instruction {
				line-height: 16px;
				font-size: 16px;
				padding: 0 0 12px 0;
				margin: 0 0 12px 0;
				border-bottom: 1px solid rgba(73, 73, 87, 0.27);
			}
			.terms {
				.term {
					line-height: 14px;
					font-size: 14px;
					padding: 12px;
					border-radius: 5px;
					cursor: pointer;
					transition: background-color 500ms $ease-out-expo;
					&.selected {
						font-weight: 700;
						background-color: #f1f4f7;
					}
				}
			}
			&.content-type {
				.term {
					display: flex;
					justify-content: space-between;
					align-items: center;
					&:hover {
						font-weight: 700;
						color: var(--white, white);
						background-color: var(--accent-color-one, deepskyblue);
					}
					.long-arrow {
						position: relative;
						display: flex;
						margin-left: 12px;
						transform: translateX(-5px);
						transition: transform 500ms $ease-out-expo;
						svg {
							width: auto;
							height: 10px;
							polygon {
								fill: var(--white, white);
							}
						}
						.line {
							position: absolute;
							right: 15px;
							width: 2px;
							height: 100%;
							background-color: var(--white, white);
							transition: background-color 500ms $ease-out-expo;
						}
					}
					&:hover {
						.long-arrow {
							transform: translateX(0);
							.line {
								background-color: var(--accent-color-one, deepskyblue);
							}
						}
					}
				}
			}
		}
	}
}