$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.sidebar.block {
	> .container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 1272px) {
			display: block;
		}
		> .content {
			flex-grow: 1;
			margin: 0 60px 0 0;
			@media (max-width: 1272px) {
				margin: 0 0 48px 0;
			}
		}
		.sidebar {
			min-width: 270px;
			max-width: 270px;
			@media (max-width: 1272px) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				min-width: 600px;
				max-width: 600px;
				margin: 0 auto 36px auto;
			}
			@media (max-width: 648px) {
				min-width: 270px;
				max-width: 270px;
			}
			.post {
				width: 100%;
				max-width: 270px;
				margin: 0 0 36px 0;
				@media (max-width: 318px) {
					max-width: 100%;
				}
				&:last-child {
					margin: 0;
				}
				&:hover {
					a.image {
						.label {
							background-color: var(--accent-color-one, deepskyblue);
						}
					}
				}
				a.image {
					display: block;
					position: relative;
					height: 152px;
					background: #f1f4f7;
					border-radius: 5px;
					border-top-right-radius: 0;
					margin: 0 0 12px 0;
					overflow: hidden;
					img {
						position: absolute;
						width: 100%;
						height: 100%;
					}
					.label {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 0;
						right: 0;
						height: 28px;
						font-size: 12px;
						font-weight: 600;
						color: var(--white, white);
						background-color: var(--primary-text-color, black);
						padding: 0 12px;
						border-bottom-left-radius: 5px;
						transition: background-color 500ms $ease-out-expo;
					}
				}
				a.title {
					display: block;
					line-height: 24px;
					font-size: 18px;
					font-weight: 700;
					color: var(--primary-text-color, black);
					text-decoration: none;
				}
			}
			.button {
				a {
					justify-content: center;
					width: 100%;
				}
			}
		}
	}
}