.tab.block {
	display: none;
	overflow: auto;
	> .container {
		> h1, > h2, > h3, > h4, > h5, > h6, > p, > ol, > ul, > img {
			box-sizing: border-box;
			padding: 0 24px;
		}
		> .box.block,
		> .code.block,
		> .columns.block,
		> .header.block,
		> .leadership.block,
		> .media.block,
		> .news.block,
		> .press-releases.block,
		> .quadrant.block,
		> .quote.block,
		> .resource-archive.block,
		> .resource-browser.block,
		> .resource-header.block,
		> .resource-selector.block,
		> .resources.block,
		> .sidebar.block,
		> .tiles.block,
		> .timeline.block {
			padding: 0 24px;
		}
	}
}