$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

.admin-bar {
  .tabs.block {
    > .container {
      .tabs-container {
        top: 140px;

        @media (max-width: 1272px) {
          top: auto;
        }
      }
    }
  }
}

.tabs.block {
  > .container {
    .spacer {
      height: 0;
    }

    .tabs-container {
      background: var(--white, white);
      position: sticky;
      top: 108px;
      z-index: 2;

      @media (max-width: 1272px) {
        position: relative;
        top: auto;
      }
    }

    .tabs {
      display: flex;
      max-width: 1200px;
      margin: 0 auto 36px auto;

      @media (max-width: 1272px) {
        display: block;
        padding: 24px;
      }
      .tab {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 72px;
        font-size: 17px;
        font-weight: 500;
        color: var(--primary-text-color, black);
        text-decoration: none;
        border-bottom: 4px solid #dce4ec;
        cursor: pointer;
        transition: border-bottom-color 500ms $ease-out-expo;
        @media (max-width: 1272px) {
          border: none;
          background-color: var(--lightest-background-color, lightgray);
          border-radius: 5px;
          margin: 6px 0;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        &.active {
          color: var(--accent-color-one, deepskyblue);
          border-bottom-color: var(--accent-color-one, deepskyblue);
          @media (max-width: 1272px) {
            color: var(--white, white);
            border: none;
            background-color: var(--accent-color-one, deepskyblue);
            border-radius: 5px;
          }
        }
      }
    }
  }
  &.fixed {
    > .container {
      .spacer {
        height: 112px;
      }
      .tabs {
        position: fixed;
        z-index: 2;
        top: 108px;
        left: calc(50vw - 600px);
        width: 1200px;
      }
    }
  }
}
