.timeline.block {
	.container {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		@media (max-width: 960px) {
			display: block;
		}
		.timeline {
			position: relative;
			.circle {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				line-height: 24px;
				font-size: 24px;
				font-weight: 700;
				border: 1px solid var(--accent-color-one, deepskyblue);
				border-radius: 50%;
				overflow: hidden;
				&.light-content {
					color: var(--white, white);
				}
				&.dark-content {
					color: var(--accent-color-one, deepskyblue);
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
				}
				span {
					position: relative;
				}
			}
			.line {
				position: absolute;
				top: 0;
				left: 50%;
				bottom: 0;
				width: 1px;
				background: var(--accent-color-one, deepskyblue);
				transform: translateX(-0.5px);
				@media (max-width: 960px) {
					display: none;
				}
			}
		}
	}
}