.twitter.block {
	.container {
		flex: 1;
		.tweet {
			visibility: hidden;
			&.post-1,&.post-2 {
				display: none;
			}
			.text-wrapper {
				.header {
					display: flex;
					justify-content: space-between;
					height: 18px;
					margin: 0 0 18px 0;
					.left {
						line-height: 18px;
						font-size: 18px;
					}
					.right {
						display: flex;
						a {
							color: var(--accent-color-one, deepskyblue);
							text-decoration: none;
							margin: 0 0 0 6px;
							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
			.body {
				line-height: 24px;
				font-size: 15px;
				p {
					margin: 0 0 24px 0;
					a {
						color: var(--accent-color-one, deepskyblue);
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		&.three-column {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			@media (max-width: 1272px) {
				max-width: 384px;
			}
			.tweet {
				display: flex;
				width: 384px;
				&.post-1,&.post-2 {
					display: flex;
				}
				@media (max-width: 1272px) {
					margin-bottom: 36px;
				}
				@media (max-width: 432px) {
					width: 100%;
				}
				.text-wrapper {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
	.feed {
		display: none;
	}
}